openapi: 3.2.0
info:
  title: Castor EDC / CDMS Metadata API
  description: The Castor EDC / CDMS API is a RESTful interface to Castor's cloud electronic data capture (EDC) and clinical data management platform.
  version: '1.0'
  contact:
    name: Castor
    url: https://www.castoredc.com
  license:
    name: Proprietary
    url: https://www.castoredc.com/legal/
servers:
- url: https://data.castoredc.com/api
  description: Castor EU (default)
- url: https://us.castoredc.com/api
  description: Castor US region
security:
- oauth2ClientCredentials: []
tags:
- name: Metadata
  description: Reference metadata such as countries.
paths:
  /country:
    get:
      operationId: listCountries
      tags:
      - Metadata
      summary: List countries
      description: Lists all countries known to Castor (reference metadata).
      x-endpoint-status: confirmed
      responses:
        '200':
          description: A list of countries.
          content:
            application/json:
              schema:
                type: object
  /country/{country_id}:
    get:
      operationId: getCountry
      tags:
      - Metadata
      summary: Retrieve a country
      description: Retrieves a single country by ID.
      x-endpoint-status: confirmed
      parameters:
      - name: country_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A country.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://data.castoredc.com/api/oauth/token
          scopes: {}
