openapi: 3.2.0
info:
  title: Castor EDC / CDMS Data Export API
  description: The Castor EDC / CDMS API is a RESTful interface to Castor's cloud electronic data capture (EDC) and clinical data management platform.
  version: '1.0'
  contact:
    name: Castor
    url: https://www.castoredc.com
  license:
    name: Proprietary
    url: https://www.castoredc.com/legal/
servers:
- url: https://data.castoredc.com/api
  description: Castor EU (default)
- url: https://us.castoredc.com/api
  description: Castor US region
security:
- oauth2ClientCredentials: []
tags:
- name: Data Export
  description: Bulk export of study data, structure, and option groups.
paths:
  /study/{study_id}/export/data:
    get:
      operationId: exportStudyData
      tags:
      - Data Export
      summary: Export study data
      description: Exports the collected data of a study (CSV).
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/StudyId'
      responses:
        '200':
          description: The exported study data.
          content:
            text/csv:
              schema:
                type: string
  /study/{study_id}/export/structure:
    get:
      operationId: exportStudyStructure
      tags:
      - Data Export
      summary: Export study structure
      description: Exports the structure (forms, fields, phases) of a study.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/StudyId'
      responses:
        '200':
          description: The exported study structure.
          content:
            text/csv:
              schema:
                type: string
  /study/{study_id}/export/optiongroups:
    get:
      operationId: exportOptionGroups
      tags:
      - Data Export
      summary: Export option groups
      description: Exports the option groups (answer choices) of a study.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/StudyId'
      responses:
        '200':
          description: The exported option groups.
          content:
            text/csv:
              schema:
                type: string
components:
  parameters:
    StudyId:
      name: study_id
      in: path
      required: true
      description: The study GUID (uppercase, 8-4-4-4-12 format).
      schema:
        type: string
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://data.castoredc.com/api/oauth/token
          scopes: {}
