openapi: 3.2.0
info:
  title: Castor EDC / CDMS Study Data Points API
  description: The Castor EDC / CDMS API is a RESTful interface to Castor's cloud electronic data capture (EDC) and clinical data management platform.
  version: '1.0'
  contact:
    name: Castor
    url: https://www.castoredc.com
  license:
    name: Proprietary
    url: https://www.castoredc.com/legal/
servers:
- url: https://data.castoredc.com/api
  description: Castor EU (default)
- url: https://us.castoredc.com/api
  description: Castor US region
security:
- oauth2ClientCredentials: []
tags:
- name: Study Data Points
  description: Collected values for study forms.
paths:
  /study/{study_id}/data-points/study:
    get:
      operationId: listStudyDataPoints
      tags:
      - Study Data Points
      summary: List all study data points
      description: Retrieves all study-form data points collected across a study.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/StudyId'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: A paginated list of study data points.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPointCollection'
  /study/{study_id}/participant/{participant_id}/data-points/study:
    get:
      operationId: listParticipantStudyDataPoints
      tags:
      - Study Data Points
      summary: List a participant's study data points
      description: Retrieves the study-form data points for a single participant.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/StudyId'
      - $ref: '#/components/parameters/ParticipantId'
      responses:
        '200':
          description: A list of study data points.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPointCollection'
    post:
      operationId: updateParticipantStudyDataPoints
      tags:
      - Study Data Points
      summary: Create or update a participant's study data points
      description: Creates or updates study-form data points for a single participant. Accepts a batch of field_id / value pairs.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/StudyId'
      - $ref: '#/components/parameters/ParticipantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPointWriteRequest'
      responses:
        '200':
          description: The updated data points.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPointCollection'
components:
  schemas:
    DataPointCollection:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/DataPoint'
        page_count:
          type: integer
        total_items:
          type: integer
    DataPointWriteRequest:
      type: object
      required:
      - data
      properties:
        common:
          type: object
          properties:
            change_reason:
              type: string
        data:
          type: array
          items:
            type: object
            properties:
              field_id:
                type: string
                format: uuid
              field_value:
                type: string
    DataPoint:
      type: object
      properties:
        field_id:
          type: string
          format: uuid
        field_value:
          type: string
        participant_id:
          type: string
        updated_on:
          type: string
          format: date-time
  parameters:
    ParticipantId:
      name: participant_id
      in: path
      required: true
      description: The participant (record) ID.
      schema:
        type: string
    StudyId:
      name: study_id
      in: path
      required: true
      description: The study GUID (uppercase, 8-4-4-4-12 format).
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated (HAL) collections.
      schema:
        type: integer
        minimum: 1
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://data.castoredc.com/api/oauth/token
          scopes: {}
