openapi: 3.2.0
info:
  title: Castor EDC / CDMS Users API
  description: The Castor EDC / CDMS API is a RESTful interface to Castor's cloud electronic data capture (EDC) and clinical data management platform.
  version: '1.0'
  contact:
    name: Castor
    url: https://www.castoredc.com
  license:
    name: Proprietary
    url: https://www.castoredc.com/legal/
servers:
- url: https://data.castoredc.com/api
  description: Castor EU (default)
- url: https://us.castoredc.com/api
  description: Castor US region
security:
- oauth2ClientCredentials: []
tags:
- name: Users
  description: Users and study membership.
paths:
  /user:
    get:
      operationId: listUsers
      tags:
      - Users
      summary: List users
      description: Lists the users the authenticated account can access.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/{user_id}:
    get:
      operationId: getUser
      tags:
      - Users
      summary: Retrieve a user
      description: Retrieves a single user by ID.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: A user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
  /study/{study_id}/user:
    get:
      operationId: listStudyUsers
      tags:
      - Users
      summary: List study users
      description: Lists the users who are members of a given study.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/StudyId'
      responses:
        '200':
          description: A list of study users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollection'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email_address:
          type: string
        institute:
          type: string
    UserCollection:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            user:
              type: array
              items:
                $ref: '#/components/schemas/User'
  parameters:
    StudyId:
      name: study_id
      in: path
      required: true
      description: The study GUID (uppercase, 8-4-4-4-12 format).
      schema:
        type: string
    UserId:
      name: user_id
      in: path
      required: true
      description: The user GUID.
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: Missing or invalid access token.
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://data.castoredc.com/api/oauth/token
          scopes: {}
